<a href="https://colab.research.google.com/github/tomasz-te/Drafts/blob/main/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [6]:
pd.__version__

'1.3.5'

In [33]:
pd.options.display.max_rows

60

In [13]:
lst = [6, 34, 45]
lst = pd.Series(lst, index=['A','B','C'])
print(lst['B'])
lst

34

A     6
B    34
C    45
dtype: int64

In [15]:
dict = {
    'Day1':420,
    'Day2':330,
    'Day3':540
}
lst = pd.Series(dict, index=['Day1','Day2'])
lst

Day1    420
Day2    330
dtype: int64

In [26]:
table = {
    'Cars':['Bmw','Volvo','Audi'],
    'Customers':[150000,90000,170000]
}
df = pd.DataFrame(table,index=[1,2,3])
df

    Cars  Customers
1    Bmw     150000
2  Volvo      90000
3   Audi     170000

In [29]:
df.loc[1]

Cars            Bmw
Customers    150000
Name: 1, dtype: object

In [32]:
print(df.to_string())

    Cars  Customers
1    Bmw     150000
2  Volvo      90000
3   Audi     170000

In [34]:
#JSON
data = {
  "Duration":{
    "0":60,
    "1":60,
    "2":60,
    "3":45,
    "4":45,
    "5":60
  },
  "Pulse":{
    "0":110,
    "1":117,
    "2":103,
    "3":109,
    "4":117,
    "5":102
  },
  "Maxpulse":{
    "0":130,
    "1":145,
    "2":135,
    "3":175,
    "4":148,
    "5":127
  },
  "Calories":{
    "0":409,
    "1":479,
    "2":340,
    "3":282,
    "4":406,
    "5":300
  }
}

df = pd.DataFrame(data)

print(df)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130       409
1        60    117       145       479
2        60    103       135       340
3        45    109       175       282
4        45    117       148       406
5        60    102       127       300

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  6 non-null      int64
 1   Pulse     6 non-null      int64
 2   Maxpulse  6 non-null      int64
 3   Calories  6 non-null      int64
dtypes: int64(4)
memory usage: 412.0+ bytes

In [38]:
df.dropna(inplace=True)
df.fillna(140, inplace=True)

In [40]:
# Filling with mean, mode or median
x = df['Pulse'].mean()
df['Pulse'].fillna(x,inplace=True)

In [51]:
df['Date'] = ['12/12/2022','14/12/2022','14/12/2022','12/12/2022','12/12/2022',pd.NA]
df['Date'] = pd.to_datetime(df['Date'])
df

   Duration  Pulse  Maxpulse  Calories       Date
0        60    110       130       409 2022-12-12
1        60    117       145       479 2022-12-14
2        60    103       135       340 2022-12-14
3        45    109       175       282 2022-12-12
4        45    117       148       406 2022-12-12
5        60    102       127       300        NaT

In [53]:
df.dropna(subset=['Date'], inplace=True)
df

   Duration  Pulse  Maxpulse  Calories       Date
0        60    110       130       409 2022-12-12
1        60    117       145       479 2022-12-14
2        60    103       135       340 2022-12-14
3        45    109       175       282 2022-12-12
4        45    117       148       406 2022-12-12

In [56]:
df.loc['3','Calories'] = 145
df

   Duration  Pulse  Maxpulse  Calories       Date
0      60.0  110.0     130.0     409.0 2022-12-12
1      60.0  117.0     145.0     479.0 2022-12-14
2      60.0  103.0     135.0     340.0 2022-12-14
3      45.0  109.0     175.0     145.0 2022-12-12
4      45.0  117.0     148.0     406.0 2022-12-12
3       NaN    NaN       NaN     145.0        NaT

In [58]:
df.drop(df.tail(1).index,inplace=True)
df

   Duration  Pulse  Maxpulse  Calories       Date
0      60.0  110.0     130.0     409.0 2022-12-12
1      60.0  117.0     145.0     479.0 2022-12-14
2      60.0  103.0     135.0     340.0 2022-12-14
3      45.0  109.0     175.0     145.0 2022-12-12

In [60]:
for x in df.index:
  if df.loc[x,'Maxpulse']>135:
    df[x,'Maxpulse']=135
df

,Duration,Pulse,Maxpulse,Calories,Date,"(1, Maxpulse)","(3, Maxpulse)"
0,60.0,110.0,130.0,409.0,2022-12-12,135,135
1,60.0,117.0,145.0,479.0,2022-12-14,135,135
2,60.0,103.0,135.0,340.0,2022-12-14,135,135
3,45.0,109.0,175.0,145.0,2022-12-12,135,135

In [73]:
#Removing last column
df=df.iloc[:,:-1]
df

   Duration  Pulse  Maxpulse  Calories       Date
0      60.0  110.0     130.0     409.0 2022-12-12
1      60.0  117.0     145.0     479.0 2022-12-14
2      60.0  103.0     135.0     340.0 2022-12-14
3      45.0  109.0     175.0     145.0 2022-12-12

In [69]:
# Index is string need to convert to int
print(df.index.dtype)
df.index = df.index.astype(int)
print(df.index.dtype)

object
int64

In [74]:
for x in df.index:
  if df.loc[x,'Maxpulse']>135:
    df.loc[x,'Maxpulse']=135
df

   Duration  Pulse  Maxpulse  Calories       Date
0      60.0  110.0     130.0     409.0 2022-12-12
1      60.0  117.0     135.0     479.0 2022-12-14
2      60.0  103.0     135.0     340.0 2022-12-14
3      45.0  109.0     135.0     145.0 2022-12-12

In [76]:
# Dealing with duplicates
df.duplicated()

0    False
1    False
2    False
3    False
dtype: bool

In [77]:
df.drop_duplicates(inplace=True)