<a href="https://colab.research.google.com/github/tomasz-te/Drafts/blob/main/Python2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 1.Write a program to demonstrate different number data types in Python.

a = 1
b = 1.
c = 1+1j
print('a is of type:', type(a))
print('b is of type:', type(b))
print('c is of type:', type(c))

a is of type: <class 'int'>
b is of type: <class 'float'>
c is of type: <class 'complex'>

In [ ]:
# 2.Write a program to perform different Arithmetic Operations on numbers in Python.

def calc(a, b, operator):
    if operator == '*':
        return a * b
    if operator == '/':
        return a / b
    if operator == '+':
        return a + b
    if operator == '-':
        return a - b
    if operator == '**':
        return a ** b
    if operator == '//':
        return a // b
    if operator == '%':
        return a % b
a = int(input('First number: '))
b = int(input('Second number: '))
c = input('What operiation? (*, **, /, +, -, //, %):')
calc(a,b,c)

First number: 88
Second number: 11
What operiation? (*, **, /, +, -, //, %):%

0

In [ ]:
#3. Write a program to create, concatenate and print a string and accessing sub-string from a given string.

a = input('Enter 1st string:')
b = input('Enter 2nd string:')
c = a + b
print(c)
print(c[3:6])

Enter 1st string:Lalka
Enter 2nd string:Pralka
LalkaPralka
kaP

In [ ]:
# 4. Write a python script to print the current date in the following format “Sun May 29 02:26:23 IST 2017”

import time

now = time.localtime()
now = time.strftime('%a %b %d %X %Z %Y',now)
print(now)

Sat May 28 03:48:52 UTC 2022

In [ ]:
# 5. Write a program to create, append, and remove lists in python.

lst = []
lst.append(3)
lst.append(5)
lst.append(7)
print(lst)
lst.remove(5)
print(lst)
lst.extend([8,9])
print(lst)
del lst[0:2]
print(lst)
del lst

[3, 5, 7]
[3, 7]
[3, 7, 8, 9]
[8, 9]

In [ ]:
# 6. Write a program to demonstrate working with tuples in python.
tpl = (12., 34, 45, 'aaa')
print(tpl)
tpl = 'a', 12, 34.3
print(tpl)
x, y, z = tpl
print(x, y, z)
tpl = ('Dog')
print(type(tpl))
tpl = ('Dog',)
print(type(tpl))
tpl = 'Dog',
print(type(tpl))

(12.0, 34, 45, 'aaa')
('a', 12, 34.3)
a 12 34.3
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# 7. Write a program to demonstrate working with dictionaries in python.
dct = {}
dct = {1:"Dog", 2:"Cat", 'Mouse':[1, 2, 3]}
print(dct[1], dct['Mouse'])
print(dct.get(2))
print(dct.get(444))
dct = dict([('City','Bangkok'), ('Population',17000000)])
dct['City']

Dog [1, 2, 3]
Cat
None

'Bangkok'

In [ ]:
# 8. Write a python program to find largest of three numbers.
lst = []
lst.append(int(input('A: ')))
lst.append(int(input('B: ')))
lst.append(int(input('C: ')))

max = lst[0]
for number in lst:
    if number > max:
        max = number
print(max)

A: 25
B: 37
C: 0
37

In [ ]:
# 9. Write a Python program to convert temperatures to and from Celsius, Fahrenheit. [ Formula: c = (f-32)(5/9)]

cf = input('Type "c" to convert from Celcius to Fahrenheit. Type "f" to convert from Fahrenheit to Celscius: ').lower()
temp = float(input('Enter temperature to convert: '))
if cf == 'c':
    print(f"{temp} Celcius = {(temp * 1.8) + 32} Fahrenheit")
elif cf == 'f':
    print(f"{temp} Fahrenheit = {round((temp - 32) * 5 / 9, 2)} Celcius")
else:
    print('Wrong input')

Type "c" to convert from Celcius to Fahrenheit. Type "f" to convert from Fahrenheit to Celscius: f
Enter temperature to convert: 10
10.0 Fahrenheit = -12.22 Celcius

In [ ]:
# 10. Write a Python program to construct the following pattern, using a nested for loop
# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *
n = 5
for i in range(n):
    for j in range(i):
        print('*', end='')
    print('')
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****
****
***
**
*

In [ ]:
# 11. Write a Python script that prints prime numbers less than 20.

n = 20
primes = []

for i in range(n):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# 12. Write a python program to find factorial of a number using Recursion.

def factorial(n):
    if n < 1:
        print('Sorry. Number has to be bigger then 0')
    elif n == 1:
        return 1
    elif n > 1:
        return factorial(n-1) * n

print(factorial(5))

120

In [ ]:
# 13. Write a program that accepts the lengths of three sides of a triangle 
# as inputs. The program output should indicate whether or not the triangle 
# is a right triangle (Recall from the Pythagorean Theorem that in a right 
# triangle, the square of one side equals the sum of the squares of the 
# other two sides).

a = float(input('a = '))
b = float(input('b = '))
c = float(input('c = '))

if (a**2 == b**2 + c**2) or (b**2 == c**2 + a**2) or (c**2 == a**2 + b**2):
    print('This is a right triangle')
else:
    print('This is not a right traingle')

a = 3
b = 4
c = 5
This is a right triangle

In [ ]:
# 14. Write a python program to define a module to find Fibonacci Numbers and import the module to another program.

# fibbonaci.py
def fib(max):
    fibs = [1]
    j = 1
    while j <= max:
        fibs.append(j)
        j = fibs[-1] + fibs[-2]
    return(fibs)

print(fib(50))

# from fibonnaci import fib
# or
# import fibbonaci
# ........

[1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
# 16. Write a script named copyfile.py. This script should prompt the user 
# for the names of two text files. The contents of the first file should be 
# input and written to the second file.

file1 = input('Path to file you want to copy: ')
file2 = input('Path to the new file: ')

f1 = open(file1, 'r')
f2 = open(file2, 'w+')

content = f1.read()
f2.write(content)

f1.close()
f2.close()

In [15]:
# 17. Write a program that inputs a text file. The program should print all of 
# the unique words in the file in alphabetical order.

sentence = "Write a program that inputs a text file. The program should print all of the unique words in the file in alphabetical order."

lst = sentence.split(' ')
for i in range(len(lst)):
    lst[i] = lst[i].lower()
    lst[i] = lst[i].strip(',.')
    
set(lst)

{'a',
 'all',
 'alphabetical',
 'file',
 'in',
 'inputs',
 'of',
 'order',
 'print',
 'program',
 'should',
 'text',
 'that',
 'the',
 'unique',
 'words',
 'write'}

In [22]:
# 18. Write a Python class to convert an integer to a roman numeral.

def int_to_roman(n: int):
    symbols = ['M', 'CM', 'D', 'CD,', 'C', 'XC', 'L', 'XL', 'X', 'IX', 'V', 'IV', 'I']
    values = [1000, 900, 500, 400, 100, 90, 50, 40, 10, 9, 5, 4, 1]
    roman = ""
    while n > 0:
        for i in range(len(values)):
            if n // values[i] != 0:
                roman += symbols[i]
                n -= values[i]
                break
    return roman

print(int_to_roman(151))

CLI

In [30]:
# 19. Write a Python class to implement pow (x, n)

def power(x, n):
    outcome = x
    for i in range(n-1):
        outcome *= x
    return outcome

print(power(5,3))

125

In [34]:
# 29. Program to accept the strings which contains all vowels

vowels = ['a', 'e', 'i', 'o', 'u', 'y']

string = input('Enter word: ').lower()
for char in string:
    if char not in vowels:
        print('Not accepted!')
        break
else:
    print('Accepted!')

Enter word: ouuU
Accepted!

In [42]:
# 30. Convert Snake case to Pascal case
string = 'lets_change_this_string'
string = string.title()
string = string.replace('_','')
print(string)

LetsChangeThisString