In [ ]:
# 1.Write a program to demonstrate different number data types in Python.

a = 1
b = 1.
c = 1+1j
print('a is of type:', type(a))
print('b is of type:', type(b))
print('c is of type:', type(c))

a is of type: <class 'int'>
b is of type: <class 'float'>
c is of type: <class 'complex'>

In [ ]:
# 2.Write a program to perform different Arithmetic Operations on numbers in Python.

def calc(a, b, operator):
    if operator == '*':
        return a * b
    if operator == '/':
        return a / b
    if operator == '+':
        return a + b
    if operator == '-':
        return a - b
    if operator == '**':
        return a ** b
    if operator == '//':
        return a // b
    if operator == '%':
        return a % b
a = int(input('First number: '))
b = int(input('Second number: '))
c = input('What operiation? (*, **, /, +, -, //, %):')
calc(a,b,c)

First number: 88
Second number: 11
What operiation? (*, **, /, +, -, //, %):%

0

In [ ]:
#3. Write a program to create, concatenate and print a string and accessing sub-string from a given string.

a = input('Enter 1st string:')
b = input('Enter 2nd string:')
c = a + b
print(c)
print(c[3:6])

Enter 1st string:Lalka
Enter 2nd string:Pralka
LalkaPralka
kaP

In [ ]:
# 4. Write a python script to print the current date in the following format “Sun May 29 02:26:23 IST 2017”

import time

now = time.localtime()
now = time.strftime('%a %b %d %X %Z %Y',now)
print(now)

Sat May 28 03:48:52 UTC 2022

In [ ]:
# 5. Write a program to create, append, and remove lists in python.

lst = []
lst.append(3)
lst.append(5)
lst.append(7)
print(lst)
lst.remove(5)
print(lst)
lst.extend([8,9])
print(lst)
del lst[0:2]
print(lst)
del lst

[3, 5, 7]
[3, 7]
[3, 7, 8, 9]
[8, 9]

In [ ]:
# 6. Write a program to demonstrate working with tuples in python.
tpl = (12., 34, 45, 'aaa')
print(tpl)
tpl = 'a', 12, 34.3
print(tpl)
x, y, z = tpl
print(x, y, z)
tpl = ('Dog')
print(type(tpl))
tpl = ('Dog',)
print(type(tpl))
tpl = 'Dog',
print(type(tpl))

(12.0, 34, 45, 'aaa')
('a', 12, 34.3)
a 12 34.3
<class 'str'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# 7. Write a program to demonstrate working with dictionaries in python.
dct = {}
dct = {1:"Dog", 2:"Cat", 'Mouse':[1, 2, 3]}
print(dct[1], dct['Mouse'])
print(dct.get(2))
print(dct.get(444))
dct = dict([('City','Bangkok'), ('Population',17000000)])
dct['City']

Dog [1, 2, 3]
Cat
None

'Bangkok'

In [ ]:
# 8. Write a python program to find largest of three numbers.
lst = []
lst.append(int(input('A: ')))
lst.append(int(input('B: ')))
lst.append(int(input('C: ')))

max = lst[0]
for number in lst:
    if number > max:
        max = number
print(max)

A: 25
B: 37
C: 0
37

In [ ]:
# 9. Write a Python program to convert temperatures to and from Celsius, Fahrenheit. [ Formula: c = (f-32)(5/9)]

cf = input('Type "c" to convert from Celcius to Fahrenheit. Type "f" to convert from Fahrenheit to Celscius: ').lower()
temp = float(input('Enter temperature to convert: '))
if cf == 'c':
    print(f"{temp} Celcius = {(temp * 1.8) + 32} Fahrenheit")
elif cf == 'f':
    print(f"{temp} Fahrenheit = {round((temp - 32) * 5 / 9, 2)} Celcius")
else:
    print('Wrong input')

Type "c" to convert from Celcius to Fahrenheit. Type "f" to convert from Fahrenheit to Celscius: f
Enter temperature to convert: 10
10.0 Fahrenheit = -12.22 Celcius

In [13]:
# 10. Write a Python program to construct the following pattern, using a nested for loop
# *
# **
# ***
# ****
# *****
# ****
# ***
# **
# *
n = 5
for i in range(n):
    for j in range(i):
        print('*', end='')
    print('')
for i in range(n, 0, -1):
    for j in range(i):
        print('*', end='')
    print('')

*
**
***
****
*****
****
***
**
*

In [30]:
# 11. Write a Python script that prints prime numbers less than 20.

n = 20
primes = []

for i in range(n):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]