In [1]:
# Question 1:
#- Write a function that reverses the string.
#- sentence = “I love programming in Python. How about you?”

In [2]:
def reverse(string):
    rev_str = ''
    for i in range(len(string)-1, -1, -1):
        rev_str += string[i]
    return rev_str
str = 'I love programming in Python. How about you?'
reverse(str)

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

In [3]:
def reverse(string):
    return string[::-1]
reverse('I love programming in Python. How about you?')

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

In [4]:
def reverse(string):
    return ''.join(string[-i] for i in range(1,len(string)+1))
reverse(str)

'?uoy tuoba woH .nohtyP ni gnimmargorp evol I'

Question 2: Fibonacci Number

The Fibonacci numbers, commonly denoted F(n) form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1.
That is,

F(0) = 0, F(1) = 1,

F(n) = F(n -1) + F(n-2), for n > 1.

Given n, calculate F(n).

In [5]:
#Brutal Force
def F(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        sum = 0
        last = 1
        for i in range(1,n+1):
            temp = sum
            sum += last
            last = temp
        return sum
for i in range(0,10):
    print(F(i))

0
1
1
2
3
5
8
13
21
34

In [6]:
# Recursion
def F(n):
    if n < 2:
        return n
    else:
        return F(n-1) + F(n-2)

for i in range(0,10):
    print(F(i))

0
1
1
2
3
5
8
13
21
34

Question 3: Check If Two String Arrays are Equivalent, by Facebook
- Given two string arrays word1 and word2, return true if the two arrays represent the same string, and false otherwise.
- A string is represented by an array if the array elements concatenated in order forms the string.

In [7]:
def equality_check(str1, str2):
    return ''.join(str1) == ''.join(str2)
word1 = ['a', 'bc']
word2 = ['ab', 'c']
equality_check(word1, word2)

True

Question 4: Matrix Diagonal Sum, by Adobe
- Given a square matrix mat, return the sum of the matrix diagonals.
- Only include the sum of all the elements on the primary diagonal and all the elements on the secondary diagonal that are not part of the primary diagonal.

In [8]:
# Generate some matrix
import random

def matrix_generator(n):
    matrix = [[] for i in range(n)]
    for i in range(0,n):
        for j in range(0,n):
            matrix[i].append(random.randint(0, 9))
    return matrix

def diagonal_sum(matrix):
    n = len(matrix)
    sum = 0
    for i in range(n):
        sum += matrix[i][i]
        sum += matrix[i][n-1-i]
    if n % 2 == 1:
        sum -= matrix[int((n-1)/2)][int((n-1)/2)]
    return sum

n=3
matrix = matrix_generator(n)
for i in range(n):
    print(matrix[i])

diagonal_sum(matrix)

[5, 4, 1]
[2, 8, 8]
[9, 7, 1]

24

Question 5: Final Prices With a Special Discount in a Shop
- Given the array prices where prices[i] is the price of the ith item in a shop.
- There is a special discount for items in the shop, if you buy the ith item, then you will receive a discount equivalent to prices[j] where j is the minimum index such that j > i and prices[j] <= prices[i], otherwise, you will not receive any discount at all.
- Return an array where the ith element is the final price you will pay for the ith item of the shop considering the special discount.

In [9]:
import random

prices = []

n = 5

for i in range(n):
    prices.append(round(random.random()*100,2))

def discount(list):
    discounted = []
    for i in range(len(prices)):
        for j in range (i+1, len(prices)):
            if prices[j] < prices[i]:
                discounted.append(round(prices[i] - prices[j],2))
                break
            elif j == len(prices)-1:
                discounted.append(prices[i])
    discounted.append(prices[-1])
    return discounted  

print(prices)
print(discount(prices))

[80.41, 80.55, 49.2, 27.34, 85.4]
[31.21, 31.35, 21.86, 27.34, 85.4]

Question 6: Reverse Words in a String III, by Amazon
- Given a string, you need to reverse the order of characters in each word within a sentence while still preserving whitespace and initial word order.

In [10]:
def reverse(sentence):
    word_list = sentence.split(' ')
    rev_word_list = []
    for word in word_list:
        rev_word_list.append(word[::-1])
    return ' '.join(rev_word_list)

sntnc = 'This is the sentence'
reverse(sntnc)

'sihT si eht ecnetnes'

Question 1: Defanging an IP Address, by Amazon
- Given a valid (IPv4) IP address, return a defanged version of that IP address.
- A defanged IP address replaces every period “.” with “[.]”.

In [13]:
def defang(adress):
    adr_list = adress.split('.')
    return '[.]'.join(adr_list)
defang('192.0.2.146')

'192[.]0[.]2[.]146'

In [14]:
def defang(adress):
    return adress.replace('.', '[.]')
defang(adress='192.0.2.146')

'192[.]0[.]2[.]146'

Question 2: Fizz Buzz, by Microsoft, Bloomberg
- Write a program that prints the number for 1 to 50, for number multiple of 2 print ‘fizz’ instead of a number, for numbers multiple of 3 print ‘buzz’, for numbers which are multiples of both 2 and 3 ‘fizzbuzz.’

In [17]:
for i in range(1, 21):
    if i % 2 == 0 and i % 3 == 0:
        print('fizzbuzz')
    elif i % 2 == 0:
        print('fizz')
    elif i % 3 == 0:
        print('buzz')
    else:
        print(i)

1
fizz
buzz
fizz
5
fizzbuzz
7
fizz
buzz
fizz
11
fizzbuzz
13
fizz
buzz
fizz
17
fizzbuzz
19
fizz

Question 3: Palindrome Number, by Google, FB, and MS
- Identity all words that are palindromes in the following sentence “To be or not to be a data scientist, this is not a question. Ask your mom, lol.”
- If the same word appears multiple times, return the word once (condition 1)
- Palindromes: words that return the same result when you read from the beginning to the end or the end to the beginning (condition 2)

In [29]:
sentence = "To be or not to be a data scientist, this is not a question. Ask your mom, lol."
word_list = sentence.split(' ')
palindromes = []
for word in word_list:
    word = word.strip(',')
    word = word.strip('.')
    word = word.lower()
    if word == word[::-1] and word not in palindromes:
        palindromes.append(word)
palindromes

['a', 'mom', 'lol']

# Question 4: First Unique Character in a String, by FAANG
- Given a string, find the first non-repeating character in it and return its index.
- If it doesn’t exist, return -1.

In [32]:
def first_unique(string_):
    not_unique_list = []
    for i in range(0, len(string_)):
        if string_[i] not in string_[i+1:] and string_[i] not in not_unique_list:
            return(i)
        else:
            not_unique_list.append(string_[i])
    return(-1)
first_unique('AAAbbbc')

6

In [36]:
def f_u(str):
    for i in range(len(str)):
        if str.count(str[i]) == 1:
            return(i)
    return (-1)

f_u('fantasy function')

5

Question 6 Destination City, by Yelp
- You are given the array paths, where paths[i] = [cityAi, cityBi] means there exists a direct path going from cityAi to cityBi.
- Return the destination city, that is, the city without any path outgoing to another city.
- It is guaranteed that the graph of paths forms a line without any loop, therefore, there will be exactly one destination city.

In [39]:
def find_destination(paths):
    dep = []
    dest = []
    for path in paths:
        dep.append(path[0])
        dest.append(path[1])
    for dest_city in dest:
        if dest_city not in dep:
            return(dest_city)

find_destination([['c','d'],['b','c'],['d','z'],['w','c']])

'z'

In [43]:
def destination_city(paths):
    return (set(path[1] for path in paths) - set(path[0] for path in paths)).pop()

destination_city([['c','d'],['b','c'],['d','z'],['w','c']])

'z'

# String formating

In [53]:
# Old Style Formatting
age = 25
name = 'Bob'
'Hello %s. Your age is %i.' % (name, age)

'Hello Bob. Your age is 25.'

In [55]:
# New style formatting
'Hello {}, your age is {age_}'.format(name, age_=age)

'Hello Bob, your age is 25'

In [56]:
# f-string
f'Hello { name }, your age is { age }'

'Hello Bob, your age is 25'

# Set, pop

In [68]:
list1 = [2, 2, 2, 4, 5, 7, 7, 8]
list2 = [2, 3, 3, 4, 5, 5, 7]
print(set(list1))
print(set(list2))
print(set(list1) - set(list2))
print(set(list1) & set(list2))

{2, 4, 5, 7, 8}
{2, 3, 4, 5, 7}
{8}
{2, 4, 5, 7}

In [73]:
list1 = [2, 2, 2, 4, 5, 7, 7, 8]
print(list1.pop(3))
print(list1)
print(list1.pop())
print(list1)

4
[2, 2, 2, 5, 7, 7, 8]
8
[2, 2, 2, 5, 7, 7]